.App {
  padding: 10px;
}

.label-wrapper {
  display: inline-block;
}

.avatar {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
  border-radius: 100px;
}

.rt-thead.-headerGroups {
  display: none;
}

.rt-tr-group:hover {
  cursor: pointer;
}

.rt-th.rt-resizable-header.-sort-asc.-cursor-pointer,
.rt-th.rt-resizable-header.-cursor-pointer {
  outline: none !important;
}

.App-Filter {
  display: inline-block;
  margin-right: 80px;
}